html,
body {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  height: 100%;
  color: #444444;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem !important;
    font-weight: bold;
  }
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}
.bg-blue-600 {
  background: #3929eb;
}
.bg-green-600 {
  background-color: #049669;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background-color: #a70b34;
}

.text-indigo-300-important {
  color: #a5b4fc;
}
