---
import { AiFillAliwangwang } from "react-icons/ai";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="mt-20 flex flex-col items-center">
    <h1 class="my-5 text-6xl">404</h1>
    <AiFillAliwangwang size="160px" />
    <h2 class="mb-5 text-center text-2xl text-gray-400">
      このページは歴史に刻まれていた<br />もしくは刻まれるであろうページです
    </h2>
  </div>
</Layout>
