---
import ViewPosts from "../components/ViewPosts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout dir="/">
  <h1 class="border-b-4 p-5 text-5xl font-bold">📮 Latest Articles</h1>
  <ViewPosts length={6} />
</Layout>
