---
import { FiGithub, FiHome, FiRss, FiUser } from "react-icons/fi";
import { SiMisskey } from "react-icons/si";

import "../styles/footer.css";
---

<footer
  class="bg-gray-my-1 top-screen absolute sticky bottom-0 mx-auto flex w-full flex-col items-center text-center text-gray-100"
>
  <div class="mt-4 flex">
    <a href="/" class="mr-4" aria-label="home"><FiHome size="30px" /></a>
    <a href="https://hide0.net/" class="mr-4" aria-label="portfolio"
      ><FiUser size="30px" /></a
    >
    <a
      href="https://mi.v-sli.me/@PuyoPuyo_Slime"
      class="mr-4"
      aria-label="misskey"><SiMisskey size="30px" /></a
    >
    <a href="https://github.com/HidemaruOwO/" class="mr-4" aria-label="github"
      ><FiGithub size="30px" /></a
    >
    <a href="/feed.xml" class="mr-4" aria-label="rss feed"
      ><FiRss size="30px" /></a
    >
  </div>
  <p>© 2022-2023 Virtual Slime. All rights reserved.</p>
</footer>
