---
import "../styles/header.css";
---

<header class="header-background w-full text-gray-100 shadow">
  <div
    class="container mx-auto flex flex-col flex-wrap items-center p-5 md:flex-row"
  >
    <a
      href="/"
      class="title-font mb-4 flex items-center font-medium md:mb-0 md:w-1/5 md:justify-start"
    >
      <span class="header-title ml-3 text-xl hover:text-indigo-300">
        VirtualSlime
      </span>
    </a>
    <nav
      class="flex flex-wrap items-center justify-end text-base md:ml-auto md:w-4/5"
    >
      <a
        href="/privacy-policy"
        class="menu mx-5 cursor-pointer hover:text-indigo-300"
      >
        Privacy Policy
      </a>
      <a href="/blog" class="menu mx-5 cursor-pointer hover:text-indigo-300">
        Blog
      </a>
      <a href="/about" class="menu mx-5 cursor-pointer hover:text-indigo-300">
        About
      </a>
    </nav>
  </div>
</header>
