---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Search from "../components/Search.tsx";
import "../styles/font.css";

type Props = {
  title: string;
  keywords: string;
  description: string;
  dir: string;
};

const { title, keywords, description, dir } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead
      title={title}
      keywords={keywords}
      description={description}
      dir={dir}
    />
  </head>
  <body>
    <Header />
    <Search client:load />
    <main class="container mx-auto my-7">
      <slot />
    </main>
    <Footer />
  </body>
</html>
