@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://indestructibletype-fonthosting.github.io/renner.css");

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/highlightjs/styles/atom-one-dark.css";
@import "./SnsButtons.css";
@import "./Search.css";
@import "./AwesomeButtons.css";
@import "./TableContents.css";

@font-face {
  font-family: "coastline";
  src: url("/fonts/coastline.otf");
}

html,
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #444444;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text a {
  color: #4aac00;
  text-decoration: none;
}
.blog-text a:hover {
  color: #4aac00;
  border-bottom: 1px solid;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  color: #ffffff;
  background: #282c34;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  overflow: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem !important;
    font-weight: bold;
  }
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}

/* Fix category colors in production */
.bg-yellow-600 {
  background-color: #d97705;
}
.bg-blue-600 {
  background: #3929eb;
}
.bg-green-600 {
  background-color: #049669;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background-color: #a70b34;
}

.menu {
  font-family: "renner";
}

.header-title {
  font-size: 30px;
  font-family: "coastline";
}

.header-background {
  background-image: url("/images/backgrounds/pcondesk.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 50%;
  min-height: 30vh;
  max-height: 30vh;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.blog-categoly-list {
  margin-left: 15px;
}

.article-main {
  margin: 0 auto;
  max-width: 768px;
}

@media (max-width: 768px) {
  .article-main {
    margin: 0 auto;
    width: 100wh;
  }
}

.blog-back {
  margin-left: 5vw;
}
